@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed|Open+Sans+Condensed:300|Lato|Lora|Fira+Sans|Fira+Code");
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);


d-title h1 {
  font-family: Roboto, Sans;
  font-weight: 300;
  color: #404040FF;
}

/* subtitle */
d-title p {
  font-family: Roboto, Sans;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);  /* aside color */
}



.author .name{
  color: #990024;
}

d-byline .authors-affiliations {
    grid-column-end: span 2;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1em;
}

body {
  background-color: #fffff8;
}

p {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

d-article h1, h2, h3 {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: #990024;
}

.d-code {
  font-family: 'Fira Code', 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
}

pre.text-output {
  color: #404040FF;
}