@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}


body, p {
  color: #595959;
  background-color: #fefefe;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #1e90ff;
}

h1, h2, h3, h4 {
  color:	#5265A2;
}

#TOC{
  font-size: 68%;
  text-decoration: none;
/*  top: 0;
  width: 500px;
  left: 0;
  position: fixed;
  height: 100%;
  overflow:auto; */
}

.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    line-height: 30px;
}

li.tocify-item.list-group-item.active {
  background-color: #B2001D;             /* background of current section in toc */
  color:white;
}



/* for material; unfortunately it incorrectly places an anchor for headers with parentheses*/
.header-panel {
  background-color: #B2001D;
}

#toc {
  padding: 0;
}

.section .level1 {
  color: red;
}

ul .nav li {
  padding: 0;
}

.menu ul li {
  /* color: navy;
  font-size: 50%; */
  padding: 0px 0 0px 50px;
}


/* fix the ridiculous design for images */

.figure {
  display: block;
  margin: 0 auto;
}

.panel-body {
  padding: 0;
  border: 0;
  box-shadow: 10;
}

.panel {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
